/* ESTILOS GERAIS */
.modalTitles{
	font-size:40px;
	text-align: center;
	color:white;
	padding:20px;
}
.divModalTitles{
	height:80px;
	background-color: #03a9f4;
	margin-bottom:50px;
}
#noneTransformLabel{
	top:-0.2rem;
	font-size:11px;
	transform:none
}
.positionStatic{
	position:static;
}
.bold{
	font-weight: bold;
	font-size: 16px;
	color: rgb(90,90,90);
}
.font_big{
	font-size: 16px;
	color: rgb(90,90,90);
}
.margin_small{
	margin-left: 3%;
	margin-right: 3%;
	padding-bottom: 60px;
}

td{
	cursor:pointer;
}
.pacientes{
	padding: 5px;
	cursor:pointer;
}
.pacientes:hover{
	background-color: #0399ff;
	color:white;
	padding: 5px;
}
.medicos{
	padding: 5px;
	cursor:pointer;
}
.medicos:hover{
	background-color: #0399ff;
	color:white;
	padding: 5px;
}
.spacewhite{
	position: absolute;
	background-color: rgba(255,255,255,1);
	z-index:4;
	top:46px;
	width:322px;
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	display: none;
	border-radius: 0px 0px 5px 5px;
	margin-left: 45px;
}

/* ESTILO DE VIEW ATENDIMENTO */

.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
	}
  
 /* ---------------------------*/
 
 /* ESTILO GERAL DO SISTEMA */
 
 
 body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }
  .main {
	flex: 1 0 auto;
	position:relative;
	height:auto;
  }
  header , footer {
	padding-left: 0px;
  }
  main {
	padding-left: 100px
  }
  @media only screen and (max-width : 992px) {
	header, main, footer {
	  padding-left: 0;
	}
  }
	@media only screen and (min-width : 768px) {
	.margemCentro{
		margin-left: 14%;
		  padding-bottom: 60px;
		}
  }
	@media only screen and (max-width : 768px) {
	.margemCentro{
			margin-left: 0;
			margin-right: 0;
	  padding-bottom: 60px;
		}
  }
	
	.ui-button:active{
		background-color: #0399ff;
		color:white;
		border-color:#0399ff;
		font-weight:bold
	}
	
  
	.ui-button{
		background-color: #0399ff;
		color:white;
		border-color:#0399ff;
		font-weight:bold
	}
	.ui-button:hover{
		background-color: white;
		color:#0399ff;
		border-color:#0399ff;
		font-weight:bold
	}

	.ui-dialog-titlebar-close
	{
	 position: absolute;
	 right: .3em;
	 top: 50%;
	 width: 19px;
	 margin: -10px 0 0 0;
	 padding: 1px;
	 height: 18px;

	 /*Esconder o X*/
	 display: none;
	}
	.ui-dialog-titlebar{
		background-color: #0399ff;
		color:white;
		border-color:#0399ff;
		font-weight:bold
	}
		
/* ---------------------------*/

 /* ESTILO BUSCA HOSPITAL */

 	.search {
         padding:8px 15px;
         background:rgba(50, 50, 50, 0.2);
         border:0px solid #dbdbdb;
	}
	.button {
	    position:relative;
	    padding:4px 10px;
	    border:2px solid #207cca;
	    background-color:#207cca;
	    color:#fafafa;

	}
	.button:hover  {
	     background-color:#fafafa;
	     color:#207cca;
	}

	 
	#hospitalFile{
		clear:both;
		width:83%;
		position:relative;
	}
 
	div.welcome{
			color: #274e82;
			
			padding: 20px;
			font-family: Helvetica;
			font-weight: bold;
			font-size: 250%;
			text-align: center;
	}
	
	p{
		font-size: 18px;
	}
	
	h4{
		font-size: 14px;
		font-weight: bold; 
		 text-shadow: 2px -2px -5px ; 
	}
	h2{
		font-size:26px;
		font-weight: bold; 
	
	}
	.row.main{
		width: 50%;
		height:50%;
	}
	
	.tituloPrincipalHospital{
		font-weight:bold;
		font-size: 20px
	}
	#tituloAdicionaHospital{
		width: 600px;
		height:200px;
		padding: 0px;
		margin-right:20px;
		margin-left:20px;
		margin-bottom: 40px;
		max-height:200px;
	}
	#imagemHospital{
		height: 200px;
		width: 200px;
	}
	#botaoBuscaHospital{
		top:120px;
	}
	#botaoEditHospital{
		top:70px;
	}
	#botaoDeleteHospital{
		top:20px;
	}
	#divHospitalConteudo1{
		left: 230px;
		top: -200px;
		position:relative;
		height:auto;
		width: 300px;
	}
	
	#divHospitalConteudo2{
		left: 230px;
		top: -125px;
		position:relative;
		height:auto;
		width: 300px;
	}
	.pHospitalConteudo1{
		font-size: 18px;
		font-weight:bold
	}
	.lblHospitalConteudo{
		font-size: 15px;
		color:black;
		font-weight:bold;
		margin-right:2px;
		width: 300px;
	}
	.lblHospitalConteudo2{
		font-size: 15px;
		color:black;
		width: 300px;
	}
	
	#cardHospital{
		width: 630px;
		margin: auto;
		height:200px;
		padding: 0px;
	}
	
	#cardImageHospital{
		max-height:200px;
		height:200px;
		padding: 0px;
	}
/* ---------------------------*/
 /* ESTILO BUSCA PACIENTE E FUNCIONARIO */
 
	.tituloAzul{
		color: #0399ff;
	}
	.posicaoCardCadastro{
		width: 60px;
		height:60px;
		float:right;
		bottom:80px;
		position:relative;
	}
	#CardCadastro{
		width: 60px;
		height:60px
	}

	#divCardCadastro{
		width:22px;
		height:22px;
		position:relative;
		left:34px;
		bottom:36px
	}
	.iconeCardCadastro{
		width:7px;
		height:7px;
		bottom:9px;
		right:1px;
		position:relative
	}
	
 /* ---------------------------*/
  /* ESTILO CADASTRO FUNCIONARIO */
 
 body {
          display: flex;
          min-height: 100vh;
          flex-direction: column;
        }
        .main {
          flex: 1 0 auto;
        }
        header , footer {
          padding-left: 0px;
        }
        main {
          padding-left: 100px
        }
        @media only screen and (max-width : 992px) {
          header, main, footer {
            padding-left: 0;
          }
        }
      	@media only screen and (min-width : 768px) {
        .margemCentro{
    			margin-left: 14%;
			padding-bottom: 60px;
    		}
      }
    	@media only screen and (max-width : 768px) {
        .margemCentro{
    			margin-left: 0;
    			margin-right: 0;
			padding-bottom: 60px;

    		}
      }
	  
 /* ---------------------------*/
   /* ESTILO FOOTER */
   
 footer{
		bottom:0%;
		width:100%;
		position:relative;	
 }
  /* ---------------------------*/

  /* ESTILO ATENDIMENTO */
  
  	.btn-small {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
	}
  #formestilo2 {
    float: left;
  }
  #formestilo {
    float: right;
  }
  #pesquisa {
    padding:6px 15px;
    background:transparent;
    border-bottom:1px solid #bfbfbf;
    width: 200px;
    height: 23px;
    margin-top: 50px;
  }
  #botao {
    position:relative;
    padding:6px 15px;
    left:-4px;
    border:2px solid #03a9f4;
    background-color:#03a9f4;
    color:#fafafa;
    margin-top: 50px;
  }
  
  #botaoPesquisar {
    position:relative;
    background-color:#03a9f4;
    color:#fafafa;
	right: 8px;
  }
  
  #botaoAddAttendance {
    position:relative;
    padding:6px 15px;
    margin-left: 4px;
    left:-4px;
    border:2px solid #03a9f4;
    background-color:#03a9f4;
    color:#fafafa;
    margin-top: 50px;
  }
  
	#adicionar {
    position:relative;
    padding:6px 15px;
    left:-4px;
    border:2px solid #03a9f4;
    background-color:#03a9f4;
    color:#fafafa;
    margin-top: 50px;
  }
	#adicionar:hover  {
    background-color:#fafafa;
    color:#207cca;
  }
	#botao:hover  {
    background-color:#fafafa;
    color:#207cca;
  }
  
  #botaoPesquisar:hover  {
    background-color:#fafafa;
    color:#207cca;
  }
  
  #botaoAddAttendance:hover  {
    background-color:#fafafa;
    color:#207cca;
  }

  body {
    min-width: 520px;
  }

  .column {
    width: 190px;
    padding-bottom: 100px;
	display:table-cell;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
	.column-title{
	margin: 0 1em 1em 0;
	padding: 0.3em;
	}
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }
  
  #hospitalSelecionado{
	  width: 600px;
	  height:200px;
	  margin-bottom:10px;
	  left: 14%;
	  position:relative;
	  margin-left:1px;
	  top:25px;
  }
  
  #imagemHospitalMenor{
	  height: 150px;
	  width: 150px;
  }

  #divHospitalConteudo3{
	left: 163px;
	top: -170px;
	position:relative;
	height:auto
  }
  
  .pHospitalConteudo2{
	  font-size: 22px;font-weight:bold;margin-bottom:0px; color:#046B64;
  }
  /* ---------------------------*/
  
  /* ESTILO GRAFICOS */
  
.grafico{
	width:400px;
	height:700px;
	left:50%;
	margin-left:-200px;
	position:relative;
	margin-bottom: 100px
}
  /* ---------------------------*/

  /* ESTILO LOADER */
  
.loader {
  border: 7px solid #dddddd;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  left: 50%;
  top:50%;
  margin-top: -12px;
  margin-left: -12px;
  position: relative;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}